/*Variables*/
$header-background: #328CC1;
$roster-background: #0B3C5D;
$messages-background: white;
$input-background-outline: #D9B310;

$header-text-color: white;
$roster-names: white;
$message-text-color: #1D2731;
$input-text-color: #1D2731;

$title-font-global: 'Vollkorn', serif;
$messages-font-global: 'Lato', sans serif;